<?xml version="1.0"?>
<!--
/**
 * This file is part of Mbiz_FrontRevision for Magento.
 *
 * @license MIT
 * @author Maxime Huran <m.huran@monsieurbiz.com> <@MaximeHuran>
 * @category Mbiz
 * @package Mbiz_FrontRevision
 * @copyright Copyright (c) 2020 Monsieur Biz (https://monsieurbiz.com)
 */
-->
<config>
    <global>
        <models>
            <core>
                <rewrite>
                    <design_package>Mbiz_FrontRevision_Model_Design_Package</design_package>
                </rewrite>
            </core>
        </models>
        <blocks>
            <page>
                <rewrite>
                    <html_head>Mbiz_FrontRevision_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
    </global>
    <default>
        <dev>
            <css_js_revision>
                <revision_number>1</revision_number>
            </css_js_revision>
        </dev>
    </default>
</config>
